{% extends 'home/layout.html' %}
{% block content %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><i class="fas fa-home mr-2"></i><a href="{{url_for('home.home')}}">Home</a></li>
    		<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-laptop mr-3"></i>Register Node</li>
  		</ol>
	</nav>
	<div class="btn-group float-right" role="group" aria-label="Basic example">
		<button type="button" class="btn btn-sm btn-info" disabled>Total Nodes : 0</button>
		<a class="btn btn-sm btn-primary btn-success" href="{{url_for('registernode.add')}}" role="button">Add new node</a>
	</div>
	
	
{% endblock content %}