{% extends 'home/layout.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5 text-center">One Web Access</h1>
    <p class="text-center text-info">One Web Access is a one point access to all the below services</p>
    <hr class="my-2">
    <div class="row">
    	<div class="col-md-2"></div>
    	<div class="col">
    		<ul style="list-style-type:none;">
  				<li class="mt-2"><i class="fas fa-blog mr-3"></i><a href="">Knowledge Base Blog</a> </li>
  				<li class="mt-2"><i class="fas fa-headset mr-3"></i><a href="">Clientele Call Logs</a></li>
  				<li class="mt-2"><i class="fas fa-laptop mr-3"></i><a href="{{url_for('registernode.home')}}">Register remote nodes</a></li>
			</ul>
		</div>
		<div class="col">	
  			<ul style="list-style-type:none;">
  				<li class="mt-2"><i class="fas fa-box mr-3"></i><a href="{{url_for('packagebuild.home')}}">Package Builder</a></li>
  				<li class="mt-2"><i class="fas fa-cubes mr-3"></i><a href="">Firmware Updates</a></li>
  				<li class="mt-2"><i class="fas fa-diagnoses mr-3"></i><a href="">Image Build</li>
  			</ul>
  		</div>
  		<div class="col-md-2"></div>
  	</div>			
  </div>

{% endblock content %}